/* Estilos gerais do botão */
.button {
    font-family: "Teko", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    border: none;
}

/* Estilos para o botão primary */
.button.primary {
    background-color: #415A77;
    color: #E0E1DD;
}

/* Efeito hover para o botão primary */
.button.primary:hover {
    opacity: 0.8;
}

/* Estilos para o botão secondary */
.button.secondary {
    background-color: #0A0F24;
    color: #00E6F6;
    border: 2px solid #00E6F6;
    position: relative;
    box-shadow: 0 0 0px #00E6F6; /* Inicialmente sem sombra */
}

/* Efeito hover para o botão secondary - adiciona o neon */
.button.secondary:hover {
    box-shadow: 0px 0px 12px 4px #00E6F6; /* Efeito neon */
    transform: translateY(-3px); /* Faz o botão "levantar" */
}

/* Efeito quando está desativado */
.button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}
