.projects{
    background-color: #0A0F24;
    margin-top: 10%;
    padding: 50px 20px;
    margin-top: 20%;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    padding: 0 80px;  /* Adiciona padding nas laterais direita e esquerda */
}

/* Título principal */
.title {
    font-size: 2.25rem; /* Aproximadamente 36px convertido para rem */
    font-weight: bold; /* Peso da fonte */
    margin-bottom: 40px;
    font-family: "Audiowide", serif;
    margin-left: 80px; /* Maior espaçamento da esquerda */
}

.containerSubtitle {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centraliza verticalmente */
    gap: 12px; /* Espaço entre a imagem e o texto */
}

.subtitle {
    font-size: 2rem; /* Aproximadamente 36px convertido para rem */
    font-weight: bold; /* Peso da fonte */
    margin-bottom: 40px;
    font-family: "Audiowide", serif;
    margin-left: 80px; /* Maior espaçamento da esquerda */
    color: #778DA9;
    
}

.imagem {
    width: 80px;
    margin-top: -40px; /* Move a imagem para cima */
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    .projects {
        padding: 0 10px;
        padding-top: 80px; /* Menor padding-top em dispositivos móveis */
    }

    .projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
        gap: 1.25rem;
        margin-top: 1.25rem;
        margin-bottom: 3.125rem;
        text-align: center;
        justify-content: center;
        padding: 0 5rem;  /* Adiciona padding nas laterais direita e esquerda */
    }

    .title {
        font-size: 2rem; /* Ajuste para telas menores */
        margin-bottom: 1%;
        margin-left: 10%;
    }

    .subtitle {
        font-size: 1.3rem; /* Ajuste para telas menores */
        margin-bottom: 1%;
        margin-left: 10%;
    }

    .imagem {
        width: 3rem;
        margin-top: -0.5rem; /* Move a imagem para cima */
    }
}