.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0A0F24;
    color: white;
    text-align: center;
  }
  