.App {
  background-color: #0A0F24;
  align-items: flex-start;
  flex-direction: column;
  height: 100%; /* Garantir que a área da aplicação ocupe 100% da altura */
}

html, body {
  height: 100%; /* Garantir que o corpo ocupe toda a altura */
  margin: 0; /* Remover qualquer margem padrão */
  background-color: #0A0F24; /* Cor de fundo */
}