.App {
  background-color: #0A0F24;
  align-items: flex-start;
  flex-direction: column;
  height: 100%; /* Garantir que a área da aplicação ocupe 100% da altura */
}

html, body {
  height: 100%; /* Garantir que o corpo ocupe toda a altura */
  margin: 0; /* Remover qualquer margem padrão */
  background-color: #0A0F24; /* Cor de fundo */
  scroll-behavior: smooth;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0A0F24; /* Cor de fundo durante o carregamento */
}

.loading-gif {
  width: 500px; /* Ajuste o tamanho do GIF */
  height: auto;
}