.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que a App ocupe toda a tela */
}

html, body {
  height: 100%; /* Garantir que o corpo ocupe toda a altura */
  margin: 0; /* Remover qualquer margem padrão */
  background-color: #0A0F24; /* Cor de fundo */
  scroll-behavior: smooth;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0A0F24; /* Cor de fundo durante o carregamento */
}

.loading-gif {
  width: 500px; /* Ajuste o tamanho do GIF */
  height: auto;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Faz com que a página ocupe pelo menos a altura da tela */
}

.footer {
  margin-top: auto; /* Empurra o footer para o final */
}